<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <title>Admin Page</title>
</head>

<body>
    <table class="table">
        <tr>
            <th>Item Name</th>
            <th>Availablity Status/Date</th>
            <th>Category</th>
            <th>Price</th>
            <th>Down Payment</th>
            <th>Rating</th>
            <th>-----</th>

        </tr>
        <% allItems.forEach(function(rows){ %>
            <tr>
                <td>
                    <%= rows.itemName %>
                </td>
                <td>
                    <%= rows.preorderAvailablility %>
                </td>
                <td>
                    <%= rows.itemCategory %>
                </td>
                <td>
                    <%= rows.price %>
                </td>
                <td>
                    <%= rows.downPayment %>
                </td>
                <td>
                    <%= helper(rows.rating) %>
                </td>
                <td>
                    <a href="/admin/edit/<%= rows.id %>/item">Edit</a> |
                    <a href="/admin/delete/<%= rows.id %>/item" onclick="return confirm('are you sure?');">Delete</a>
                </td>


            </tr>
            <% })%>
    </table>

</body>

</html>